
.label-item {
  display: flex;
  align-items: center;
}

.label-icon {
    /*fill: var(--color-higlight-turquoise);*/
    stroke: var(--color-higlight-turquoise);
    height: 1.5em; /* Icon size relative to font size */
}
.stroke-color{
    stroke: var(--color-higlight-turquoise);
}

.label-text {
  /* Styles for the label text */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
    margin-right: 0.4em;
    font-size: 1em; /* Adjust as needed */
}

.label-unit {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
    
    font-size: 1em; /* Adjust as needed */
}

.icon-container {
    margin-right: 0.4em;
  }

 