
.ListItem{
    width: 20em;
    aspect-ratio: 7/3;
    margin-bottom: 2em;
    
}

.NewmorphismCard{
    width: 20em;
    aspect-ratio: 7/3;
}

.shadow{
    width: 20em;
    aspect-ratio: 7/3;
}

.highlight{
    width: 20em;
    aspect-ratio: 7/3;
}
.label-items-container {
    margin-top: 3.6em;
    margin-left: 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Aligns items to the left */
    gap: 1em; /* Adjust the gap between items as needed */
  }
  
  .label-item {
    flex-basis: calc(50% - 0.5em); /* Adjust width of each item, accounting for the gap */
    /* Additional styling */
  }
  .titleCard{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
      margin-right: 0.4em;
      font-size: 1.3em; /* Adjust as needed */
  }