.node-label-items-container {
    
    padding-top: 3.6em;
    margin-left: 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Aligns items to the left */
    gap: 1em; /* Adjust the gap between items as needed */
  }
  
  .label-item {
    flex-basis: calc(50% - 1em); /* Adjust width of each item, accounting for the gap */
    /* Additional styling */
  }
 
  .card-background{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }