.section-title{
    color: var(--color-title);
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
      margin-right: 0.4em;
      font-size: 1.3em; /* Adjust as needed */
    
    margin-top: -1.8em;
    margin-bottom: 1em;
}
a{
    background-color: var(--color-off-white-blue);  
    padding: 1em;
}
.search-field-container {
    padding: 2em;
    max-width: 500px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    
  }
  .search-field-card{
    border-radius: 1em;
    border: 0.2em solid #C0C0C0; /* Dark gray border */
    padding: 1em; /* Padding around the search field */
  }
  
  .product-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 1em auto; /* Center the list and add some vertical space */
    
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }
  