@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');
/* SearchField.css */
.search-container {
    width: 18em;
    position: relative;
    margin-bottom: 1em;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ECEFF5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.20) inset, -4px -4px 4px white inset;
    border-radius: 2em;
    overflow: hidden; /* To maintain the border-radius */
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 0.8em 1em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    flex-grow: 1;
    font-size: 1.2em; /* Adjust as needed */
    background: transparent;
    color: var(--color-placeholder); /* Adjust text color as needed */
  }
  
  .search-icon {
    margin-right: 1.5em;
  }
  
  /* Rest of your styles */
  