.section-title{
    color: var(--color-title);
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
      margin-right: 0.4em;
      font-size: 1.3em; /* Adjust as needed */
    margin-top: -1.8em;
}
.section-label{
    background-color: var(--color-off-white-blue);  
    padding: 1em;
}
.section-container{
    padding: 2em;
    max-width: 500px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    padding-bottom: 1em;
}

.section-card{
  border-radius: 1em;
  border: 0.2em solid #C0C0C0; /* Dark gray border */
  padding: 1em; /* Padding around the search field */
}