.stats-label-items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Aligns items to the left */
    gap: 1em; /* Adjust the gap between items as needed */
    margin-left: 1em;
  }