@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
:root {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #ffffff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-metal: #565584;
  --color-tahiti: #3ab7bf;
  --color-silver: #ecebff;
  --color-bubble-gum: #ff77e9;
  --color-bermuda: #78dcca;
  --color-off-white-blue: #ECEFF5;
  --color-off-white-creme: #F0F0F0;
  --color-higlight-turquoise: #18B5AB;
  --color-title: #756969;
  --color-text-default: #5F5252;
  --color-sub-title: #4A4040;
  --color-placeholder: #A39C9C;
  --color-shadow: #43475C;
  --color-stroke: #CCCCCC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
